<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>819375579182-kcu6ntv5571h03dsdeldp00o8oifv9sl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.819375579182-kcu6ntv5571h03dsdeldp00o8oifv9sl</string>
	<key>API_KEY</key>
	<string>AIzaSyBfIesk6L7zn7SKyxSEtAj-jwXAZmPWjXE</string>
	<key>GCM_SENDER_ID</key>
	<string>819375579182</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.touristApp</string>
	<key>PROJECT_ID</key>
	<string>touristapp-b02be</string>
	<key>STORAGE_BUCKET</key>
	<string>touristapp-b02be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:819375579182:ios:f23a6b5acaea9f0199bfbf</string>
</dict>
</plist>